python-dotenv
sec-edgar-downloader
unstructured[pdf]
pandas
sentence-transformers
chromadb
rank_bm25
tqdm
tiktoken
langchain-text-splitters
ollama
groq
openai
anthropic
ragas
datasets
langchain-groq
langchain-community
